#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Activa Servidor Musica i Audio
DefaultDependencies=no
After=controlador.service
ConditionPathExists=/bin/bash

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/bash /home/pi/audio/servidorMusica.sh
Restart=on-failure

[Install]

WantedBy=multi-user.target
